/*----- Main -----*/
*{
    margin: 0;
    padding: 0;
}

/*----- first main -----*/
.first-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 124, 133)); 
}
#first-main{
    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.logo{
    padding: 20px;
    display: inline-block;
}
#main-logo{
    width: 170px;
    height: 70px;
    border-style: solid;
    border-color: #198396;
    border-radius: 75%;
    padding: 10px;
}
.buttons{
   background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
   border-radius: 50px;
    position: fixed;
    top: 20px;
    right: 120px;
    z-index: 1;
    display: inline-block;
    margin: 30px;
    padding: 5px 5px;
}
button, .submit{
    padding: 10px;
    margin: 5px;
    border-radius:  20px;
}

/*----- Text and pic -----*/

.hi{
    display: inline-block;
}
.name{
    display: inline-block;
}
.name::first-letter{
  color: #198396;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
.middel{
    
    width: 32em;
    margin: auto;
    margin-top: 4em;
}
.headings{
    display: inline-block;
}
h1{
    color: white;
}
.first-p{
    color: silver;
}
.pic{
    float: right;
    display: inline-block;
    text-shadow: 0 0 30px #198396;
   
}
.my-pic-1{
    width: 130px;
    height: 230px;
    border-radius: 50px;
   box-shadow: 20px 20px 0px #198396;
}
.icon-links{
    margin: 25px;
    
}
.icons{
    padding: 5px;
    width: 45px;
    height: 45px;
}
/*----- second main -----*/
.second-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 124, 133), rgb(0, 0, 0)); 
}
#about{
    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.head2{
    text-align: center;
    position: relative;
    top: 35px;
}
.my-details{
    width: 70%;
    margin: auto;
    padding: 30px;
    position: relative;
    top: 80px;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
    border-radius: 30px;
}
.my-pic-2{
    width: 130px;
    height: 230px;
    border-radius: 50px;
}
h3{
    color: white;
}
.second-p{
    color: silver;
}
.photo{
  
    display: inline-block;
}
.details{
    width: 55%;
    position: relative; 
   bottom: 30px;
   left: 10px;
    display: inline-block;
}
/*----- third main -----*/
.third-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 124, 133)); 
}
#skills{

    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.third-part{
    border: ridge;
}
.head3{
    text-align: center;
    position: relative;
    top: 145px;
}
.skills-details{
    width: 70%;
    margin: auto;
    padding: 30px;
    position: relative;
    top: 170px;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
    border-radius: 30px;
}
.skills-icons{
    margin: 0 43px;
}
.bootstrap , .skills-icons{
    position: relative;
    left: 25px;
}
/*----- four main -----*/

.four-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 124, 133), rgb(0, 0, 0)); 
}
#work {
    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.head4{
    text-align: center;
    position: relative;
    top: 35px;
}
.work-pics{
    border-radius: 50px;
    width: 150px;
    height: 120px;
    margin: 20px;
}
.work-details{
    width: 80%;
    position: relative;
    top: 70px;
    margin: auto;
    padding: 5px;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
    border-radius: 30px;
}
/*----- last main -----*/
.last-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 124, 133)); 
}
#contact{

    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.head-last{
    text-align: center;
    position: relative;
    top: 35px;
}
.input-details{
    width: 41%;
    height: 40%;
    position: relative;
    top: 100px;
    margin: auto;
    padding: 5px;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
    border-radius: 30px;
}
.input-data{
    margin: 10px;
    padding: 5px;
}
.email{
    margin-left: 40px;
}
input, label{
    margin: 5px;
    padding: 5px 0;
}
label{
    color: white;
}
#description{
    float: right;
    margin: 10px;
    
}
