/*----- Main -----*/
*{
    margin: 0;
    padding: 0;
}

/*----- first main -----*/
.first-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 124, 133)); 
}
#first-main{
    width: 75%;
    height: 80vh;
    margin: auto;
    background-image: url("./background.png");
    background-size: auto;
}
.logo{
    padding: 20px;
    display: inline-block;
}
#main-logo{
    width: 170px;
    height: 70px;
    border-style: solid;
    border-color: #198396;
    border-radius: 75%;
    padding: 10px;
}
.buttons{
   
    position: fixed;
    right: 120px;
    display: inline-block;
    margin: 30px;
}
button{
    padding: 10px;
    margin: 5px;
}

/*----- Text and pic -----*/

.hi{
    display: inline-block;
}
.name{
    display: inline-block;
}
.name::first-letter{
  color: #198396;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
.middel{
    
    width: 32em;
    margin: auto;
    margin-top: 4em;
}
.headings{
    display: inline-block;
}
h1{
    color: white;
}
p{
    color: silver;
}
.pic{
    float: right;
    display: inline-block;
    text-shadow: 0 0 30px #198396;
   
}
.my-pic-1{
    width: 130px;
    height: 230px;
    border-radius: 50px;
   box-shadow: 20px 20px 0px #198396;
}
.icon-links{
    margin: 25px;
    
}
.icons{
    padding: 5px;
    width: 45px;
    height: 45px;
}
/*----- second main -----*/
.second-back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 124, 133), rgb(0, 0, 0)); 
}
#about{
    width: 75%;
    height: 80vh;
    margin: auto;
    
    background-image: url("./background.png");
    background-size: auto;
}
.head2{
    text-align: center;
    position: relative;
    top: 35px;
}
.my-details{
    width: 70%;
    margin: auto;
    padding: 30px;
    position: relative;
    top: 80px;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(15, 15, 15), rgb(43, 43, 43));
    border-radius: 30px;
}
.my-pic-2{
    width: 130px;
    height: 230px;
    border-radius: 50px;
}
h3{
    color: white;
}
.photo{
  
    display: inline-block;
}
.details{
    width: 55%;
    position: relative; 
   bottom: 30px;
   left: 10px;
    display: inline-block;
}